.page-grid {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.grid-header {
  grid-area: header;
}

.grid-container {
  grid-area: main;
  width: 100%;
  // margin: 100px auto;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 100px);
  // margin: 20px 0px;


  .main-wrapper {
    flex: 1;
    margin: 30px 5vw;
  }
  .grid-sidebar {
    display: none;
  }

  @media screen and (min-width: 900px) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 6fr 2fr;

    .main-wrapper {
      grid-column: 1;
      margin-right: 0vw;
    }
  
    .grid-sidebar {
      width: calc(100% - 5vw);
      display: block;
      grid-column: 2;
      margin-right: 5vw;
      margin-top: 30px;
      // min-width: 200px;

      .grid-sidebar-tags {
        margin-top: 20px;
      }
    }
  }
}

.grid-footer {
  grid-area: footer;
}

.profile-link {
  text-align: end;
}
