@use "../../../global/global.scss";

@mixin cardBase {
  min-height: 220px;
  min-width: 200px;

  background-color: global.$on-primary-container;
  color: global.$on-primary-container-text;

  .card-title {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
  }

  .card-content {
    font-size: 16px;
    padding: 0px 20px;
    padding-bottom: 10px
    // height: 180px;
    // width: 160px;
    // background-color: yellow
  }

  .card-content-only {
    font-size: 16px;
    padding: 20px;
    // height: 180px;
    // width: 160px;
    // background-color: yellow
  }

  .card-datetime {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 12px;
  }

  .card-img {
    padding-top: 20px;
    text-align: center
  }

  .home-link {
    width: 150px;
    padding-left: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;

    .home-link-icon {
      flex: 1;
      
    }

    .home-link-content {
      margin-top: 5px;
      flex: 3;
      
    }
  }
}

.card-sm {
  @include cardBase;

  &:hover {
    transition: 0.8s;
    // box-shadow: 0px 0px 15px 0px rgb(5, 5, 15);
    box-shadow: 0px 0px 10px 0px global.$on-primary-container-text;
    cursor: pointer;
  }
}

.card-link {
  @include cardBase;
}

hr {
  border: 1px solid global.$on-primary-container-text;
}