@use "../../../global/global.scss";

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-wrapper {
  flex: 1 1 150px;

  display: flex;
  flex-direction: row;
  min-width: 25px;
  max-width: max-content;
  background-color: global.$on-primary-container-text;
  color: global.$on-primary-container;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;

  .tag-count-aside {
    min-width: 10px;
    text-align: center;
    margin-top: 1px;
  }
}

.tag-title {
  display: flex;
  flex-direction: row;

  .tag-icon {
    position: relative;
    top: 3px;
  }
}