@use "../../../global/global.scss";
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Noto+Sans+JP&family=Roboto&display=swap');

.input-primary {
  min-width: 100px;
  height: 27px;
  border-radius: 5px;

  margin-right: 5px;

  font-family: "Anta", "Roboto", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: global.$on-primary-container-text;
  color: global.$on-primary-container;

  border: none;

  &:focus {
    border: none;
    outline: 2px solid rgb(70, 70, 210);
  }
}