.search {

  height: 50px;
  overflow-y: scroll;

  &__wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  &__input {
    height: 24px;
    width: 96%;
    padding: 0px 8px;    

    margin-top: calc((50px - 24px) / 2);

    background-color: #eee;

    @media screen and (max-width: 1300px) {
      width: 95%;
    }

    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    &:focus {
      box-shadow: 0px 5px 5px #3f3f3f;
      outline: 1px solid #383838;
    }
  }
}